@page "/teachers"
@inject TeacherInterface TeacherService
<PageTitle>Teachers Details</PageTitle>
<h3>Teacher</h3>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Tel No</th>
			<th>School</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in TeacherService.teachers)
	   {
			<tr>
				<td>@item.Name</td>
				<td>@item.Address</td>
				<td>@item.TelNo</td>
				<td>@item.School.name</td>
				<td></td>
			</tr>
	   }
	</tbody>
</table>
@code {
	protected override async Task OnInitializedAsync()
	{
		await  TeacherService.GetTeacher();
	}
}
